/* _______________________ABOUT_________________________*/

.data1{
    font-family:"Josefin Sans",Arial,sans-serif ;
    font-size: 16px;
}

.data2{
    font-family: "Poppins",Arial, sans-serif;
    font-size: 15px;
    color: #6c757d;
}
.data3{
    color: #6c757d;
}

/*__________________________ABOUT1________________________*/

.number{
    font-size: 16px;
    font-family:"Josefin Sans",Arial,sans-serif ;
}
.data{
    font-size: 15px;
    font-family: "Poppins",Arial, sans-serif;
    font-weight: 300;
    color: #808080;
}
.logos{
    color: #fac564;
    font-size: 20px;
}
.bg-logos{
    background-color: #fac564;
    color: white;
    font-size: 30px;
}
.logotw{
    margin-left: -10px;
    margin-top: 60px;
}
.logofb{
    margin-left: 50px;
}
.height{
    padding-top: 40px;
}
.about-bg{
    background: url("/Assets/Media/images/bg_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.about2-head{
    margin-top: 165px;
    font-size: 30px;
    font-family:"Josefin Sans",Arial,sans-serif;
}
.about2-para{
     font-size: 15px;
     font-family: "Poppins",Arial, sans-serif;
     text-align: left;
     font-weight: 300;
     line-height: 2.5;
     color: gray;
     width: 600px;
     margin-left: 60px;   
}


/* _____________________________________ABOUT-2_________________________ */

.about-2{
    background: url("/Assets/Media/images/bg_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    /* position: absolute; */
}

.image-overlay{
    height: 50vh;
    width: 100%;
    background-color: #c8a8a89c;
}

.icon_1{
    width: 100px;
    height: 100px;
    border: 2px solid #121618;
}

.icon_1 img{
    color: #fac564;
}

.icon_2{
    width: 100px;
    height: 100px;
    border: 2px solid #121618;
}

.icon_3{
    width: 100px;
    height: 100px;
    border: 2px solid #121618;
}

.icon_4{
    width: 100px;
    height: 100px;
    border: 2px solid #121618;
}

.number{
    font-size: 30px;
    font-family: "Poppins",Arial, sans-serif;
    color: #fac564;
}

.name{
    font-size: 14px;
    font-family: "Poppins",Arial, sans-serif;
    color: rgb(0, 0, 0);
}


/* ____________________________________About-3_______________________ */
.about3-1{
    background-color: #f8f9fa;
    font-family: Roboto, Arial, sans-serif;
}

.about3-1-1{
    font-size: 24px;
    color: #3c4043;
}

.about3-1-2{
    font-size: 12px;
    color: #3c4043;
}
.about-3-2{
    background-color: #121618;
}

.about-3-2-1{
    font-size: 28px;
    font-family:"Josefin Sans",Arial,sans-serif;
}

.Firstname{
    border: none !important;
}

.Lastname{
    border: none !important;   
}

.Message{
    border: none !important;
}

.col input{
    border: none;
}

.bg1{
    background-color: #fac564;
}

.b1{
    background-color: #fac564;
    color: #121618;
    border: none;
}

.b1:hover{
    background-color:transparent;
    color: #fac564;
    border:2px solid #fac564;
}

  



